---
---
<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
<body>
  {% include header.html %}
  <!--/ Header end -->
  <div class="paralax-mf bg-image" style="background-image: url(assets/images/banner/banner1.PNG)">
    <div class="overlay-mf"></div>
    <div id="banner-area" class="banner-area">
      <div class="banner-text">
        <div class="container">
            <div class="row">
              <div class="col-lg-12">
                  <div class="banner-heading">
                    <h1 class="banner-title">Rotract UNR Calendar</h1>
                  </div>
              </div><!-- Col end -->
            </div><!-- Row end -->
        </div><!-- Container end -->
      </div><!-- Banner text end -->
    </div><!-- Banner area end --> 
  </div> 

<section id="main-container" class="main-container">
  <div class="container">
    <div class="row">

      <div class="col-lg-8 mb-5 mb-lg-0 order-0 order-lg-1">
          <div class="embed-responsive embed-responsive-1by1" alt = "calendar">
            <iframe src="https://calendar.google.com/calendar/embed?height=500&wkst=1&bgcolor=%23ffffff&ctz=Asia%2FKolkata&src=cm90YXJhY3RjbHVib2Z1bnJAZ21haWwuY29t&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%23039BE5&color=%2333B679&showDate=1&showPrint=0&showTabs=0&showCalendars=0&showTitle=0&showNav=1&showTz=0" style="border:solid 1px #61a336" width="800" height="500" frameborder="0" scrolling="no"></iframe>
            </div><!-- Content Col end -->
        </div>


        <div class="col-lg-3">

          <div class="sidebar sidebar-right">
            <div class="widget recent-posts">
              <h3 class="widget-title">Upcoming Events</h3>
              <ul class="list-unstyled">
                <li class="d-flex align-items-center">
                  <div class="posts-thumb">
                    <a href="#"><img loading="lazy" alt="img" src="/assets/images/uploads/wallpaper-1.png"></a>
                  </div>
                  <div class="post-info">
                    <h4 class="entry-title">
                      <a href="calendar.html">11 days 11 Ganpati facts</a>
                    </h4>
                    <span class="sidebar-meta-date"><i class="far fa-calendar"></i> Coming Soon</span>
                  </div>
                </li><!-- 1st post end-->
  
                <li class="d-flex align-items-center">
                  <div class="posts-thumb">
                    <a href="#"><img loading="lazy" alt="img" src="/assets/images/uploads/wallpaper-1.png"></a>
                  </div>
                  <div class="post-info">
                    <h4 class="entry-title">
                      <a href="calendar.html">Operation 1909</a>
                    </h4>
                    <span class="sidebar-meta-date"><i class="far fa-calendar"></i>Coming Soon</span>
                  </div>
                </li><!-- 2nd post end-->
  
                <li class="d-flex align-items-center">
                  <div class="posts-thumb">
                    <a href="#"><img loading="lazy" alt="img" src="/assets/images/uploads/wallpaper-1.png"></a>
                  </div>
                  <div class="post-info">
                    <h4 class="entry-title">
                      <a href="calendar.html">BOD Meet</a>
                    </h4>
                    <span class="sidebar-meta-date"><i class="far fa-calendar"></i>Coming Saturday</span>
                  </div>
                </li><!-- 3rd post end-->
  
              </ul>
  
            </div><!-- Recent post end -->
  
  
          </div><!-- Sidebar end -->
        </div><!-- Sidebar Col end -->
        <div class="col-lg-1">
 
      </div>
    </div><!-- Main row end -->



  </div><!-- Container end -->  
</section><!-- Main container end -->

{% include footer.html %}
<!-- Footer end -->


  <!-- Javascript Files
  ================================================== -->

  <!-- initialize jQuery Library -->
  {% include javascript.html %}
  </div><!-- Body inner end -->
  </body>

  </html>
