---
---
<!DOCTYPE html>
<html lang="en">
<style>
  .button-container {
    padding: 50px;
    margin-right: 700px;
  }
  
</style>
{% include head.html %}
<body>
<!-- Header start -->
{% include header.html %}
<!-- header end -->
<div class="paralax-mf bg-image" style="background-image: url(/assets/images/donate/Donate-banner.jpg)">
  <div class="overlay-mf"></div>
  <div id="banner-area" class="banner-area">
    <div class="banner-text">
      <div class="container">
          <div class="row">
            <div class="col-lg-12">
                <div class="banner-heading">
                  <h1 class="banner-title">Join us</h1>
                  <nav aria-label="breadcrumb">
                      <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Donate</a></li>
                      
                      </ol>
                  </nav> 
                </div>
            </div><!-- Col end -->
          </div><!-- Row end -->
      </div><!-- Container end -->
    </div><!-- Banner text end -->
  </div><!-- Banner area end -->
</div>

<section id="main-container" class="main-container">
    <div class= "row">
      <div class= "col-md-3"></div>
      <div class= "col-md-6">
        <iframe scrolling="no" src="https://docs.google.com/forms/d/e/1FAIpQLScQP-mAnxAEAhqZqknuIiupZ2rfehIH89fnmwFA_oNyFNgPCg/viewform?embedded=true" width="640" height="1450" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
      </div>
      <div class= "col-md-3"></div>
    </div>
  </section><!-- Main container end -->

{% include footer.html %}
<!-- Footer end -->


  <!-- Javascript Files
  ================================================== -->

  {% include javascript.html %}

  <script src="xyz.js"></script>

  </div><!-- Body inner end -->
  </body>
  
  </html>

