---
layout: default
---
{% include altbanner.html %}
<section id="main-container" class="main-container">
  <div class="container">
    <div class="row">

      <div class="col-lg-4 order-1 order-lg-0">
        <div class="sidebar sidebar-left">
        {% include recent.html %}
        <!-- Recent post end -->
        
          {% include fun.html %}
        <!-- Recent post end -->
        </div><!-- Sidebar end -->
        
      </div><!-- Sidebar Col end -->
      

      {% include allprojects.html %}

    </div><!-- Main row end -->

  </div><!-- Container end -->
</section><!-- Main container end -->
