<div class="col-lg-8 mb-5 mb-lg-0 order-0 order-lg-1">
  {% for all_projects in projects reversed %}
    {% include projectcard.html data=all_projects %}
  {% endfor %}
<!--     <nav class="paging" aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-double-left"></i></a></li>
        
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        
        <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-double-right"></i></a></li>
      </ul>
    </nav> -->

  </div><!-- Content Col end -->