<div class="paralax-mf bg-image" style="background-image: url(/assets/images/slider-main/bg5.jpg)">
    <div class="overlay-mf-main"></div>
    <div class="banner-carousel banner-carousel-2 mb-0">
      <div class="banner-carousel-item">
        <div class="container">
          <div class="box-slider-content">
            <div class="box-slider-text">
              <h2 class="box-slide-title">35 years Of Excellence</h2>
              <h3 class="box-slide-sub-title">NGO</h3>
              <p class="box-slide-description">You have ideas, goals, and dreams. We have a culturally diverse,
                forward
                thinking team looking to help everyone</p>
              <p>
                <a href="services.html" class="slider btn btn-primary">Our Projects</a>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="banner-carousel-item">
        <div class="slider-content text-left">
          <div class="container">
            <div class="box-slider-content">
              <div class="box-slider-text">
                <h2 class="box-slide-title">Social Services Matter</h2>
                <h3 class="box-slide-sub-title">Your Choice is Simple</h3>
                <p class="box-slide-description">You can join us and get imersed into the culture and people </p>
                <p><a href="about.html" class="slider btn btn-primary" aria-label="about-us">About Us</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>