<div class="row">
    <div class="col-md-12">
      <h3 class="column-title">We love to hear</h3>
      <form id="contact-form" action="#" method="post" role="form" data-netlify = "true">
        <div class="error-container"></div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Name</label>
              <input class="form-control form-control-name" name="name" id="name" placeholder="Name" type="text" required>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Email</label>
              <input class="form-control form-control-email" name="email" id="email" placeholder="Email" type="email"
                required>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Contact Number</label>
              <input class="form-control form-control-subject" name="contact-number" id="subject" placeholder="Contact Number" type= "text">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Message</label>
          <textarea class="form-control form-control-message" name="message" id="message" placeholder="Message" rows="10"
            required></textarea>
        </div>
        <div class="text-right"><br>
          <button class="btn btn-primary solid blank" type="submit" value="Send Message">Send Message</button>
        </div>
      </form>

      
    </div>

  </div><!-- Content row -->