<div class="sidebar sidebar-right">
    <div class="widget recent-posts">
      <h3 class="widget-title">Recent Posts</h3>
      <ul class="list-unstyled">
        {% for item in site.categories.recentpost %}
        <li class="d-flex align-items-center">
          <div class="posts-thumb">
            <a href="#"><img loading="lazy" alt="news-image" src="{{item.thumb}}"></a>
          </div>
          <div class="post-info">
            <h4 class="entry-title">
              <a href="#">{{item.information}}</a>
            </h4>
          </div>
        </li><!-- 1st post end-->
        {% endfor %}
    </ul>
    </div><!-- Recent post end -->
  </div>