<div class="widget recent-posts">
  <h3 class="widget-title">Recent Events</h3>
  <ul class="list-unstyled">
      {% for items in site.categories.recent %}
      <li class="d-flex align-items-center">
      <div class="posts-thumb">
        <a href="#"><img loading="lazy" alt="img" src="{{items.thumb}}"></a>
      </div>
      <div class="post-info">
        <h4 class="entry-title">
          <a href="#">{{items.title}}</a>
        </h4>
        <span class="sidebar-meta-date"><i class="far fa-calendar"></i>{{items.date}}</span>
      </div>
    </li><!-- 1st post end-->
    {% endfor %}

    <div class= "calendar-link">
      <a href= "calendar.html" >View in calendar</a>
    </div>
  </ul>            
</div>