<article class="post">
    <div class="post-media post-image">
      <img loading="lazy" src="{{page.thumb}}" class="img-fluid" alt="post-image">
    </div>

    <div class="post-body">
      <div class="entry-header">
        <div class="post-meta">

          <span class="post-meta-date"><i class="far fa-calendar"></i> {{page.date}} </span>

        </div>
        <h2 class="entry-title">
          <a href="news-single.html">{{page.title}}</a>
        </h2>
      </div><!-- header end -->
      
      <div class="entry-content">
        <p> {{page.description}} </p>
      </div>


    </div><!-- post-body end -->
  </article>